.luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #FFC0CB;
}

#pongCanvas {
  display: block;
  width: 100vw;
  height: 100vh;
}